
TeleportCommand/obj/TeleportCommand.csproj.nuget.g.targets
TeleportCommand/obj/TeleportCommand.csproj.nuget.g.props
TeleportCommand/obj/TeleportCommand.csproj.nuget.dgspec.json
TeleportCommand/obj/project.nuget.cache
TeleportCommand/obj/project.assets.json
TeleportCommand/obj/Debug/net7.0/TeleportCommand.pdb
TeleportCommand/obj/Debug/net7.0/TeleportCommand.GlobalUsings.g.cs
TeleportCommand/obj/Debug/net7.0/TeleportCommand.GeneratedMSBuildEditorConfig.editorconfig
